<div class="banner-home d-flex justify-content-center align-items-center">
    <div class="d-flex-column">
      <h1></h1>
        <p><%= link_to "GO!", items_path, class:"btn btn-warning " %></p>
    </div>
  </div>
