.footer, .footer-placeholder {
  width: 100vw;
  height: 8vh;
}
.footer {
  position: fixed;
  bottom: -1px;
  color: rgba(255,255,255,0.8);
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer a {
  color: rgb(255,255,255);
  opacity: 0.5;
  text-decoration: none;
}
.footer a:hover {
  opacity: 1;
}

.fa-solid {
  font-size: 28px;
}
