<!--<div class="logo">
  <%= image_tag("logo_test.png", class: "logo")%>
</div>-->

<div class="container">
  <% @categories.first(5).each do |category| %>

    <div class="card-categorie">
      <div class="card-image">
        <%= link_to categories_path(category) do %>
        <% end %>
      </div>
      <div class="category-name">
        <%if foreign_key = nil %>
          <li><h3><%=category.label %></h3></li>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
